# 컬럼명 한글명으로 변환
### - 샘플 trfcard(0)폴더에 있는 파일을 기준으로 우선 변환

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import os

In [9]:
ex0 = pd.read_excel("./01_data_원본/포항시_버스_사용자_교통카드_사용_내역/trfcard (0)/trfcard_columns.xlsx",header=2)

ex0

,구분,컬럼명 (영문),컬럼명 (한글),Not Null 여부,데이터 타입,길이,PK 정보,FK 정보,제약 조건,컬럼 설명
0,NaN,on_date,승차시각,Y,datetime,NaN,Y,NaN,NaN,NaN
1,NaN,off_date,하차시각,Y,datetime,NaN,NaN,NaN,NaN,NaN
2,NaN,route_name,노선명,Y,varchar,100,NaN,NaN,NaN,NaN
3,NaN,descr,노선설명,Y,varchar,100,NaN,NaN,NaN,NaN
4,NaN,age_type,승객연령,Y,varchar,20,NaN,NaN,NaN,NaN
5,NaN,trans_yn,환승여부,Y,varchar,1,NaN,NaN,NaN,NaN
6,NaN,addfee_yn,추가운임여부,Y,varchar,1,NaN,NaN,NaN,NaN
7,NaN,start_bstop,승차정류장,Y,varchar,100,NaN,NaN,NaN,NaN
8,NaN,start_gps_x,승차정류장 GPS X,Y,numeric,"10,7",NaN,NaN,NaN,NaN
9,NaN,start_gps_y,승차정류장 GPS Y,Y,numeric,"10,7",NaN,NaN,NaN,NaN
10,NaN,end_bstop,하차정류장,Y,varchar,100,NaN,NaN,NaN,NaN
11,NaN,end_gps_x,하차정류장 GPS X,Y,numeric,"10,7",NaN,NaN,NaN,NaN
12,NaN,end_gps_y,하차정류장 GPS Y,Y,numeric,"10,7",NaN,NaN,NaN,NaN

In [10]:
csv0 = pd.read_csv 
("./01_data_원본/포항시_버스_사용자_교통카드_사용_내역/trfcard (0)/trfcard.csv")
csv0

<function pandas.io.parsers.readers.read_csv(filepath_or_buffer: 'FilePathOrBuffer', sep=<no_default>, delimiter=None, header='infer', names=<no_default>, index_col=None, usecols=None, squeeze=False, prefix=<no_default>, mangle_dupe_cols=True, dtype: 'DtypeArg | None' = None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: 'str' = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors: 'str | None' = 'strict', dialect=None, error_bad_lines=None, warn_bad_lines=None, on_bad_lines=None, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options: 'StorageOptions' = None)>

In [15]:
list0 = ex0["컬럼명 (한글)"]
list0

0            승차시각
1            하차시각
2             노선명
3            노선설명
4            승객연령
5            환승여부
6          추가운임여부
7           승차정류장
8     승차정류장 GPS X
9     승차정류장 GPS Y
10          하차정류장
11    하차정류장 GPS X
12    하차정류장 GPS Y
Name: 컬럼명 (한글), dtype: object

In [16]:
csv0.columns=[(list0)]
csv0

<function pandas.io.parsers.readers.read_csv(filepath_or_buffer: 'FilePathOrBuffer', sep=<no_default>, delimiter=None, header='infer', names=<no_default>, index_col=None, usecols=None, squeeze=False, prefix=<no_default>, mangle_dupe_cols=True, dtype: 'DtypeArg | None' = None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: 'str' = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors: 'str | None' = 'strict', dialect=None, error_bad_lines=None, warn_bad_lines=None, on_bad_lines=None, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options: 'StorageOptions' = None)>

In [18]:
ex0 = pd.read_excel("./01_data_원본/포항시_버스_사용자_교통카드_사용_내역/trfcard (0)/trfcard_columns.xlsx",header=2)

csv0 = pd.read_csv \
("./01_data_원본/포항시_버스_사용자_교통카드_사용_내역/trfcard (0)/trfcard.csv")

list0 =ex0["컬럼명 (한글)"]

csv0.columns=[(list0)]
csv0

컬럼명 (한글),승차시각,하차시각,노선명,노선설명,승객연령,환승여부,추가운임여부,승차정류장,승차정류장 GPS X,승차정류장 GPS Y,하차정류장,하차정류장 GPS X,하차정류장 GPS Y
0,20200327051412,20200327051714,160,문덕-대송-송도-죽도-용흥,일반,N,N,문덕사거리,129.403442,35.962846,성우오토모티브,129.384492,35.972675
1,20200327051514,20200327054956,175,문덕-고속터미널-선린병원-달전,일반,N,N,준양주택3차,129.403063,35.960871,오거리,129.366312,36.031816
2,20200327052343,20200327054659,200,양덕-남구청(야구장)-구룡포,일반,N,N,두호동주민센터,129.378910,36.060370,남구보건소,129.396855,35.992624
3,20200327052449,20200327055412,100,문덕-흥해-신광,일반,N,N,천마아파트,129.409928,35.949403,홈플러스,129.364640,36.030950
4,20200327052848,20200327055231,175,문덕-고속터미널-선린병원-달전,일반,N,N,오천농협세계지점,129.415970,35.967450,죽도시장,129.365169,36.035704
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4978,20200327232513,20200327232800,101,양덕-고속터미널-동해,일반,Y,N,포은중앙도서관,129.367873,36.043187,롯데아파트,129.377403,36.056943
4979,20200327232740,20200327233319,107,문덕-시외(고속)터미널-흥해,일반,N,N,KTX포항역(시내행),129.342368,36.072374,우현경로당,129.362232,36.049878
4980,20200327232829,20200327233446,500,문덕-시외터미널-흥해-청하-월포,일반,N,N,시외버스터미널,129.350290,36.013280,연일파출소,129.345750,35.997470
4981,20200327233328,20200327233442,107,문덕-시외(고속)터미널-흥해,일반,N,N,우현경로당,129.362232,36.049878,도심환승센터,129.365165,36.043435
4982,20200327233622,20200327234014,105,양덕-시외터미널-지곡,일반,N,N,포은중앙도서관,129.367873,36.043187,두호남부초등학교,129.373390,36.060530